<style>
    body {
        background-image: url('/static/images/main-bg.jpg');
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;

        margin: 0;
        padding: 0;
    }

    .custom-a {
        text-decoration: none;
        color: rgb(32, 32, 32);
    }

    .custom-a:hover {
        text-decoration: none;
        color: rgb(97, 97, 97);
    }
</style>

<html>
    <head>
        <title>Account | leotecno.tk</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <nav class="navbar navbar-expand-lg navbar-dark navbar-shadow shadow-lg fixed-top">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/updates">Bacheca</a>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" onclick="getRandomSite()">Sito casuale</button>
                    </li>
                    <!--li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="/static/images/accounts/letters/L.png" alt="Profilo Utente" class="rounded-circle" style="width: 40px; height: 40px;">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li!-->
                </ul>
                {% if current_user.is_authenticated %}
                    <a href="/account/settings" class="ms-auto" style="margin-right: 10px;">
                        <img class="rounded-circle shadow-4-strong" height="40" width="40" alt="usericon" src="{{current_user.logo}}" />
                    </a>
                {% else %}
                    <a class="btn btn-primary ms-auto" href="/account/login" style="margin-right: 10px;">Accedi</a>
                {% endif %}
            </div>
        </nav>
        <!--{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header" style="background-color: rgb(114, 0, 0);">
                                    <h5 class="modal-title" style="color: white;">Si è verificato un errore</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border: none; background: none; color: white;">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {{ message }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <script>
                        $(document).ready(function() {
                            $('#errorModal').modal('show');
                            console.log('CIAP')
                        });           
                    </script>
                {% else %}
                    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header" style="background-color: rgb(0, 114, 25);">
                                    <h5 class="modal-title" style="color: white;">Ok!</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border: none; background: none; color: white;">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {{ message }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <script>
                        $(document).ready(function() {
                            $('#successModal').modal('show');
                        });           
                    </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}-->
    </head>
    <body>

        <!--POPUPS-->
        <!--div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: rgb(114, 0, 0);">
                        <h5 class="modal-title" style="color: white;">Si è verificato un errore</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border: none; background: none; color: white;">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="popupText"></p>
                    </div>
                </div>
            </div>
        </div!-->

        <div class="d-flex">
            <div class="row">
                <div class="col">
                    <div class="card" style="background: rgba(255, 255, 255, 0.411); border: none; margin-top: 70px; margin-left: 10px; width: 300px; height: 850px;">
                        <div class="card-body">
                            <a href="/account/info" class="custom-a" id="accountLink">Su di me</a>
                            <hr style="color: white;">
                            <a href="/account/security" class="custom-a text-white" id="securityLink">Privacy e Sicurezza</a>
                            <hr style="color: white;">
                            <a href="/account/connected-sites" class="custom-a" id="friendsLink">Siti collegati</a>
                            <hr style="color: white;">
                            <a href="/account/danger-zone" class="custom-a" id="friendsLink">Danger zone</a>
                            <hr style="color: white;">
                            <a href="/account/logout" class="custom-a">Logout</a>
                            <hr style="color: white;">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="background: rgba(255, 255, 255, 0.411); border: none; margin-top: 70px; width: 1569px; height: 850px;">
                        <div class="card-body">
                            <h4 class="text-center">Privacy e sicurezza</h4>
                            <hr class="mx-auto" style="width: 600px;">
                            <br>
                            <div class="d-flex justify-content-center">
                                <div class="card" style="background:rgba(255, 255, 255, 0.466); border: none; width: 800px; height: 400px;">
                                    <div class="card-body">
                                        <p style="font-weight: bold; color: rgb(70, 70, 70);">PASSWORD</p>
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#changePasswordModal">Modifica la password</button>
                                        {% if last_password_change %}
                                            <br>
                                            <br>
                                            <p>Ultima modifica: {{last_password_change}}</p>
                                        {% endif %}
                                        <hr style="width: 400px;">
                                        {% if two_steps %}
                                            <p style="font-weight: bold; color: rgb(70, 70, 70);">VERIFICA IN DUE PASSAGGI (attiva)</p>
                                            <p style="color: rgb(95, 95, 95);">Aggiungi un livello di sicurezza al tuo account,<br>confermando tramite e-mail ogni volta che<br>stai tentando di effettuare l'accesso al tuo account.</p>
                                            <button class="btn btn-danger" data-toggle="modal" data-target="#disable2FAModal">Disattiva verifica in due passaggi</button>                   
                                        {% else %}
                                            <p style="font-weight: bold; color: rgb(70, 70, 70);">VERIFICA IN DUE PASSAGGI</p>
                                            <p style="color: rgb(95, 95, 95);">Aggiungi un livello di sicurezza al tuo account,<br>confermando tramite e-mail ogni volta che<br>stai tentando di effettuare l'accesso al tuo account.</p>
                                            <button class="btn btn-primary" style="background-color: rgb(77, 0, 128); border-color: rgb(77, 0, 128);" data-toggle="modal" data-target="#enable2FAModal">Attiva verifica in due passaggi</button>
                                        {% endif %}

                                        <!--MODALS-->
                                        <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModal" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Modifica la password</h5>
                                                <span type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    &times;
                                                </span>
                                                </div>
                                                <div class="modal-body">
                                                    <form id="changePassword">
                                                        <p style="font-weight: bold; color: rgb(51, 51, 51);">PASSWORD ATTUALE</p>
                                                        <input type="password" id="currentPassword" name="currentPassword" class="form-control form-control-m">
                                                        <br>
                                                        <p style="font-weight: bold; color: rgb(51, 51, 51);">NUOVA PASSWORD</p>
                                                        <input type="password" id="newPassword" name="newPassword" class="form-control form-control-m">
                                                        <br>
                                                        <p style="font-weight: bold; color: rgb(51, 51, 51);">CONFERMA NUOVA PASSWORD</p>
                                                        <input type="password" id="confirmNewPassword" name="confirmNewPassword" class="form-control form-control-m">
                                                        <br>
                                                        <div class="d-flex justify-content-end">
                                                            <button type="button" id="submitChangePassword" class="btn btn-primary ml-auto">Conferma</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            </div>
                                        </div>

                                        <div class="modal fade" id="enable2FAModal" tabindex="-1" role="dialog" aria-labelledby="enable2FAModal" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Attiva la verifica in due passaggi</h5>
                                                <span type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    &times;
                                                </span>
                                                </div>
                                                <div class="modal-body">
                                                    <form id="enable2FA">
                                                        <p style="font-weight: bold; color: rgb(51, 51, 51);">PASSWORD ATTUALE</p>
                                                        <input type="password" id="password" name="password" class="form-control form-control-m">
                                                        <!--br>
                                                        <p id="error" style="display: none; color: red;" class="text-center fw-bold"></p!-->
                                                        <br>
                                                        <div class="d-flex justify-content-end">
                                                            <button type="button" id="submitEnable2FA" class="btn btn-primary ml-auto">Conferma e attiva</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            </div>
                                        </div>

                                        <div class="modal fade" id="disable2FAModal" tabindex="-1" role="dialog" aria-labelledby="disable2FAModal" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Disattiva la verifica in due passaggi</h5>
                                                <span type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    &times;
                                                </span>
                                                </div>
                                                <div class="modal-body">
                                                    <form id="disable2FA">
                                                        <p style="font-weight: bold; color: rgb(51, 51, 51);">PASSWORD ATTUALE</p>
                                                        <input type="password" id="password2" name="password" class="form-control form-control-m">
                                                        <br>
                                                        <div class="d-flex justify-content-end">
                                                            <button type="button" id="submitDisable2FA" class="btn btn-danger ml-auto">Conferma e disattiva</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <!--SCRIPTS-->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script src="/static/scripts/JS/random_site.js"></script>
    <script>
        // DISABLE TWO-STEPS 
        $('#submitEnable2FA').click(function () {
            $.ajax({
                url: '/account/actions/enable2FA',
                type: 'POST',
                data: {
                    password: $('#password').val()
                },
                dataType: 'json',
                success: function(data) {
                    // Gestisci il risultato ottenuto
                    if (data.risultato === "error") {
                        // $(document).ready(function() {
                        //    $('#errorModal').modal('show');
                        //    $('#popupText').text(data.popup_text);
                        // });
                    
                        // $(document).ready(function() {
                        //    var errorText = document.getElementById("error");
                        //    error.style.display = "block";
                        //    $('#error').text(data.popup_text);
                        // });

                        alert(data.popup_text);
                    } else {
                        location.reload();
                    }
                },
                error: function(error) {
                    console.log("Errore nella richiesta AJAX:", error);
                }
            });
        });

        // DISABLE TWO-STEPS
        $('#submitDisable2FA').click(function () {
            $.ajax({
                url: '/account/actions/disable2FA',
                type: 'POST',
                data: {
                    password: $('#password2').val()
                },
                dataType: 'json',
                success: function(data) {
                    // Gestisci il risultato ottenuto
                    if (data.result === "error") {
                        // $(document).ready(function() {
                        //    $('#errorModal').modal('show');
                        //    $('#popupText').text(data.popup_text);
                        // });
                    
                        // $(document).ready(function() {
                        //    var errorText = document.getElementById("error");
                        //    error.style.display = "block";
                        //    $('#error').text(data.popup_text);
                        // });

                        alert(data.popup_text);
                    } else {
                        location.reload();
                    }
                },
                error: function(error) {
                    console.log("Errore nella richiesta AJAX:", error);
                }
            });
        });
        
        // CHANGE PASSWORD
        $('#submitChangePassword').click(function () {
            $.ajax({
                url: '/account/actions/changePassword',
                type: 'POST',
                data: {
                    currentPassword: $('#currentPassword').val(),
                    newPassword: $('#newPassword').val(),
                    confirmNewPassword: $('#confirmNewPassword').val()
                },
                dataType: 'json',
                success: function(data) {
                    // Gestisci il risultato ottenuto
                    if (data.result === "error") {
                        // $(document).ready(function() {
                        //    $('#errorModal').modal('show');
                        //    $('#popupText').text(data.popup_text);
                        // });
                    
                        // $(document).ready(function() {
                        //    var errorText = document.getElementById("error");
                        //    error.style.display = "block";
                        //    $('#error').text(data.popup_text);
                        // });

                        alert(data.popup_text);
                    } else {
                        location.reload();
                    }
                },
                error: function(error) {
                    console.log("Errore nella richiesta AJAX:", error);
                }
            });
        });      
    </script>
</html>