<style>
    .disabled {
        opacity: 0.5;
    }

    body {
        background-image: url('/static/images/main-bg.jpg');
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;

        margin: 0;
        padding: 0;
    }
</style>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Admin Send Message | leotecno.tk</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    </head>
    <body style="background-color: #36393F;">
        <br>
        <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <div class="card" style="background: rgba(255, 255, 255, 0.411); border: none; margin-top: 70px;">
                  <div class="card-body">
                    <h1 style="color: white;">Invia un messaggio in modalità Admin</h1>
                    <br>
                    <p class="card-text" style="color: white;">
                        <div class="form-group">
                            <form action="/admin/post-update" method="POST">
                                <div class="row">
                                    <div class="col">
                                        <input class="form-control" type="text" id="title" name="title" placeholder="Titolo del messaggio..." required="true">
                                    </div>
                                </div>
                                <br>
                                <br>
                                <textarea class="form-control" id="text" name="text" placeholder="Testo..." rows="5" required="true"></textarea>
                                <br>
                                <input type="checkbox" checked="true" id="buttonEnabler" name="popupValue">&nbsp;<label style="color: white;">Bottone (scopri di più)</label>
                                <br>
                                <textarea id="popupText" name="popupText" class="form-control" placeholder="Testo del popup" rows="5" required="true"></textarea>
                                <br>
                                <button class="btn btn-primary" type="submit">Applica e invia</button>
                            </form>
                        </div>
                    </p>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <script>
            $(document).ready(function() {
            $('#buttonEnabler').change(function() {
                if (this.checked) {
                    $('#popupText').removeAttr('style').prop('disabled', false);                   
                } else {
                    $('#popupText').attr('style', 'opacity: 0.5').prop('disabled', true);
                }
            });
            });
        </script>
    </body>
</html>