<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #000000;
            padding: 50px;
        }

        #hiddenText {
            display: none;
            opacity: 0;
            transition: opacity 1s ease-in-out;
        }

        #countdown {
            display: none;
            opacity: 0;
            transition: opacity 1s ease-in-out;
            font-size: 100px;
            color: white;
        }
    </style>
    <script>
        function countdownStart() {
            countdownElement = document.getElementById("countdown");
            var count = 3;
            
            for (var i = count; i >= 0; i--) {
                (function (index) {
                    setTimeout(function () {
                        countdownElement.textContent = index;

                        if (index === 0) {
                            setTimeout(function () {
                                // window.location.href = '/account/actions/deleteAccount1';
                                document.getElementById('fakeForm').submit();
                            }, 1000);
                        }
                    }, (count - index) * 1000);
                })(i);
            }
            
            // countdownElement.textContent = count;
            // console.log(countdownElement.textContent);

            
        }

        document.addEventListener("DOMContentLoaded", function () {
            hiddenText.style.display = "block";
            setTimeout(function () {
                var hiddenText = document.getElementById("hiddenText");
                hiddenText.style.display = "block";
                hiddenText.style.opacity = "1";
            }, 3000);

            setTimeout(function () {
                var countdown = document.getElementById("countdown");
                countdown.style.display = "block";
                countdown.style.opacity = "1";
                console.log('EXEC');
                countdownStart();
            }, 5000);
        });
    </script>
    <title>it's gone</title>
</head>
<body>
    <h1 style="color: white;">We're ready sir...</h1>
    <div id="hiddenText">
        <h2 style="color: rgb(255, 255, 255);">your account will be blown up in:</p>
    </div>
    <div id="countdown">
        <h1></h1>
    </div>
    <form id="fakeForm" action="/account/actions/deleteAccount1" method="POST">
        <input type="hidden" name="redirect" value="{{redirect}}">
        <input type="hidden" name="id" value="{{id}}">
    </form>
</body>
</html>
